
@{
    ViewBag.Title = "SearchNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div class="container" id="head-body">
        <div style="padding-left:15px; padding-right:15px">
            <div class="row" id="firstRow">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="padding-top: 13px;padding-left:0;">
                    <p>@DateTime.Now.ToString("HH:mm 'Ngày' dd/MM/yyyy")</p>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12" style="padding-bottom: 15px;padding-right:0;">
                    @using (Html.BeginForm("SearchNews", "News", FormMethod.Get))
                    {
                        <div class="search input-group">
                            <input type="text" style="border: none;" class="form-control" placeholder="Tìm kiếm theo từ khóa" name="searchString">
                            <div class="input-group-btn">
                                <button type="submit" class="btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row" id="secondRow">
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12" style="margin-top: -5px">
                <div class="head-name">
                    <p>Tin tức</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4" id="search-new">
                <a href="#"><img src="~/Data/images/3.jpg" /></a>
                <a href="#">Thông tin tuyển sinh</a>
                <p>Thông tin tuyển sinh năm 2021</p>
            </div>
            <div class="col-md-4" id="search-new">
                <a href="#"><img src="~/Data/images/3.jpg" /></a>
                <a href="#">Thông tin tuyển sinh</a>
                <p>Thông tin tuyển sinh năm 2021</p>
            </div>
            <div class="col-md-4" id="search-new">
                <a href="#"><img src="~/Data/images/3.jpg" /></a>
                <a href="#">Thông tin tuyển sinh</a>
                <p>Thông tin tuyển sinh năm 2021</p>
            </div>
            <div class="col-md-4" id="search-new">
                <a href="#"><img src="~/Data/images/3.jpg" /></a>
                <a href="#">Thông tin tuyển sinh</a>
                <p>Thông tin tuyển sinh năm 2021</p>
            </div>
            <div class="col-md-4" id="search-new">
                <a href="#"><img src="~/Data/images/3.jpg" /></a>
                <a href="#">Thông tin tuyển sinh</a>
                <p>Thông tin tuyển sinh năm 2021</p>
            </div>
            <div class="col-md-4" id="search-new">
                <a href="#"><img src="~/Data/images/3.jpg" /></a>
                <a href="#">Thông tin tuyển sinh</a>
                <p>Thông tin tuyển sinh năm 2021</p>
            </div>
        </div>
    </div>

